@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Hammersmith One', sans-serif;
}
header{
    text-align: center;
}

.wrapper{
    background: chartreuse;
    height: 96vh;
}

.problem__section{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.default__style{
    background-color:red;
    border: white solid 3px;
    border-radius: 9px;
    padding: 40px;
    height: 400px;
    width: 400px;
    position: relative;
}

.label{
    background-color: teal;
    padding: 3px;
    border-top: pink solid 3px;
    border-left: pink solid 3px;
    border-right: pink solid 3px;
    border-radius: 6px 6px 0px 0px;
    font-size: 20px;
    position: absolute;
    top:9px;
    right: 40px;
}

.container__default{
    background-color: teal;
    height: 100%;
    width: 100%;
    border: pink solid 3px;
    display: flex;
    padding: 10px;
}

.default__items{
    background-color: brown;
    height: 40px;
    width: 40px;
}
